<div class="parent">
    <img src="/assets/school.jpg" alt="">
    <div class="child">
        <h1>Login to Account</h1><br><br>

        <div>
            <br><br>

            <form>
                <label>Email</label>
                <input type="email" class="bacon">
                <br>

                <label>Password</label>
                <input type="password" class="bacon">
                <br>

                <!-- <input type="checkbox">
                <label for="">Remeber me</label>
                <br> -->

                <a href="">forget Password?</a>
                <br><br>

                <button class="btn btn-primary" routerLink="/dashboard">LOGIN</button>
            </form>
        </div>

    </div>
</div>