label{
    width: 200px;
    text-transform: capitalize;

}
input{
    margin-top: 15px;
    border: 0px;
    border-radius: 5px;
    height: 40px;

}
button{
    position: relative;
    left: 250px;
    margin-top: 15px;
}
h1{
    color: skyblue;
}
