label{
    width: 200px;
    text-transform: capitalize;

}
input{
    margin-top: 15px;
    border: 0px;
    border-radius: 5px;
    height: 40px;

}
button{
    position: relative;
    left: 250px;
    margin-top: 15px;
}
h1{
    color: skyblue;
}
parent{
    height: 100%;
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
child1{
    height: 50%;
    width: 50%;
    background-color: blueviolet;
}
