label{
    width: 60px;
}
.hello{
    margin-right: 10px;
}
#navbar{
    height: 5%;
    width: 100%;
}
h1{
    text-align: center;
    color: purple;
}
button{
    margin-right: 10px;
    margin-bottom: 10px;
}