.parent{
    height: 100vh;
    width: 100vw;
    display: flex;

}
.left{
    height: 100%;
    width: 25%;
    background-color:purple;
    text-align: center;
    overflow: scroll;
    color: white;
}
.right{
    height: 100%;
    width: 80%;
    background-color: navajowhite;
    padding: 10px;
    overflow: auto;
    padding: 30px;
}
h1{
    font-family:  sans-serif;
    color: white;
}
h2:hover{
    background-color: rgb(151, 76, 76);
    cursor: pointer;
}
button{
    width: 150px;
    background-color: goldenrod;
    color: white;
    border: 0px;
    height: 40px;
}
img{
    border-radius: 80%;
}