<h5><img src="{{ student.avatar }}" alt=""></h5>
<h5 appImp>name : {{ student.name }}</h5>
<h5 appImp>class : {{ student.class }}</h5>
<h5 appImp>fatherName : {{ student.fatherName }}</h5>
<h5 appImp>email : {{ student.email }}</h5>
<h5 appImp>dob : {{ student.dob }}</h5>
<h5 appImp>addressLine : {{ student.address?.addressLine }}</h5>
<h5 appImp>city : {{ student.address?.city }}</h5>
<h5 appImp>state : {{ student.address?.state }}</h5>
<h5 appImp>state : {{ student.address?.state }}</h5>
<h5 appImp>pincode : {{ student.address?.pincode }}</h5>
<h5 appImp>class : {{ student.marks?.class }}</h5>
<h5 appImp>year : {{ student.marks?.year }}</h5>
<h5 appImp>percentage : {{ student.marks?.percentage }}</h5>
<h5 appImp>busfee : {{ student.busfee }}</h5>
<h5 appImp>hostelfee : {{ student.hostelfee }}</h5>
<h5 appImp>id : {{ student.id }}</h5>